#wrapper {
    display: grid; 
    width: 100%;
    grid-template-columns: 15% 85%;
    grid-column-gap: 50px;
}

#sidebar {
    display: flex; 
    flex-direction: column;
    align-content: start;
    border-right: 1px solid;
}

.sidebar-item {
    margin-left: 20px;
    margin-bottom: 26px; 
}

.sidebar-text {
    color: black; 
    text-decoration: none;
}

.sidebar-text:hover {
    cursor: pointer;  
    text-decoration: underline; 
}