#wrapper-create {
    display: flex;
    margin-top: 0px; 
    margin-bottom: 1%;
    justify-content: center;
}

#form-label {
    margin: 0px; 
    color: black;
    text-shadow: 2px 4px 4px rgb(193, 189, 189);
}

.main-form {
    display: flex;
    flex-direction: column; 
    background-color: rgb(224, 217, 217);
    padding: 20px 40px;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px; 
    border-color: black;
    box-shadow: 3px 8px 4px rgb(193, 189, 189);
}
.main-form > div{
    display: flex;
    justify-content: center;
    margin: 20px;  
}

.text-box{
    display: block;
    margin-bottom: 0px;
    border: 1px solid black;
    border-radius: 9px;
    padding: 10px 53px;
    box-shadow: 2px 6px 4px rgb(193, 189, 189);
}

.text-box.error::placeholder {
    color: rgb(221, 26, 26);
}

#submit-btn {
    background-color: black;
    color: white;
    padding: 15px 35px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    transition: padding 200ms;
}

#submit-btn:hover{
    cursor: pointer;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 2px 6px 4px rgb(193, 189, 189);
}

#submit-btn:active {
    color: black; 
    background: white;
}