@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid rgb(141, 138, 138);
    margin: 0.1em 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 80px 0px;
    background-color: whitesmoke;
}

::placeholder {
    text-align: left;
}

#wrapper-nav {
    margin: 0px 0px 3% 0px; 
}

#grid-nav {
    display: grid; 
    /*width: 100%;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: center;
    background-color: black;
    font-size: 15px;
}

.nav-item {
    color: rgb(228, 225, 225);
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
    color: white;
    text-decoration-line: underline;
    font-size: 18px;
}