#wrapper-login {
    display: flex; 
    flex-direction: column; 
    justify-items: start;
    width: 75%; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    background-color: white;
}

.input-label {
    display: block;
}

#wrapper-login > div {
    margin: 10px 10px; 
}