<!DOCTYPE html>
<html>
    <head>
        <title>Nav Bar</title>
        <link rel="stylesheet" href="css/nav.css">
    </head>
    <body>
        <div>
            <nav id="grid-nav">
                <div>
                    <spam class="nav-item">Home</spam>
                </div>
                <div>
                    <spam class="nav-item">About</spam>
                </div>
                <div>
                    <spam class="nav-item">Sign in</spam>
                </div>
                <div>
                    <spam class="nav-item">Create Account</spam>
                </div>
            </nav>
        </div>
    </body>
</html>