#outer {
    display: grid;
    grid-template-columns: 70% 20%;
    grid-column-gap: 30px;
    margin: 22px;

}

#cart-items-wrapper, #cart-info-inner {
    background: white;
}

#label, .item-wrapper {
    margin: 22px;
}

.item-wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    border: solid #cccaca;
    border-width: 1px 0px 0px 0px;
}

.img-wrapper {
    width: 22vh;
}

.item-img {
    width: 100%;
}


.item-footer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.item-quantity {
    margin-right: 20px;
}

#cart-info-inner {
    display: flex;
    flex-direction: column;
    min-width: 160px;
}

.cart-info {
    margin-top: 12px;
    margin-left: 22px;
}

.item-shopping-details > ul {
    padding: 0px;
    font-size: 13px;
}

.item-quantity, .item-remove {
    font-size: 14px;
}

.item-remove {
    text-align: center;
    box-sizing: border-box;
}

#order-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 12px;
    margin-bottom: 20px
}

#order-btn {
    border: none;
    padding: 7px 30px 7px 30px;
    width: 140px;
    border-radius: 20px;
    background: black;
    color: white;
}