{% extends 'base.html' %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'client/managementForm.css' %}">
{% endblock %}

{% block content %}
	<div class="wrapper-management">
        <form class="manage-form" method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {{ form }}
            <div class="submit">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
{% endblock %}