{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'client/create.css' %}">
{% endblock %}

{% block content %}
    <div id="wrapper-create">
        <form class="main-form"  method="POST" action="">
            {% csrf_token %}
            <div>
                <h1 id="form-label">CREATE ACCOUNT</h1>
            </div>
            <hr>
            <div>
                {% if validator.invalidName %}
                    <input class="text-box error" type="text" placeholder="{{validator.invalidNameMsg}}" name="name">
                {% else %}
                    <input class="text-box" type="text" placeholder="name" name="name">
                {% endif %}
            </div>
            <div>
                {% if validator.invalidEmail %}
                    <input class="text-box error" type="text" placeholder="{{validator.invalidEmailMsg}}" name="email">
                {% elif validator.emailExists %}
                    <input class="text-box error" type="text" placeholder="{{validator.emailExistsMsg}}" name="email">
                {% else %}
                    <input class="text-box" type="text" placeholder="Email" name="email">
                {% endif %}
            </div>
            <div>
                {% if validator.invalidPassword %}
                    <input class="text-box error" type="text" placeholder="{{validator.invalidPasswordMsg}}" name="password">
                {% else %}
                    <input class="text-box" type="text" placeholder="Password" name="password">
                {% endif %}
            </div>
            <div>
                <input id="submit-btn" type="submit" value="CREATE">
            </div>
        </form>
    </div>
{% endblock %}